.bg-img{
    background-image: linear-gradient(177.8deg, #121212 1.85%, rgb(18 18 18 / 46.3%) 43.01%, rgb(18 18 18 / 0%) 78.52%),url("../../../assets/tech.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

.h-60{
    height: 50px !important;
}